ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logo {
  &__img {
    width: 100px;
  }
}
.header {
  &__name {
    color: #fff;
    text-transform: uppercase;
  }
}
.status {
  position: relative;
  margin-bottom: 10px;
  &__text {
    display: block;
    padding: 7px 0;
  }
}
.edit-icon {
  position: absolute;
  right: 0;
  top: 5px;
}
.profile {
  position: relative;
  &__name {
    font-size: 20px;
    font-weight: bold;
  }
  &__about {
    font-size: 20px;
  }
  &__job {
  }
  &__job-descr {
  }
  &__edit {
    position: absolute;
    right: 0;
    top: 60px;
  }
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    text-align: center;
  }
  &__form {
    flex: 0 0 400px;
  }
  &__form-error {
    color: rgb(197, 43, 43);
    font-weight: bold;
    text-align: center;
  }
  &__input {
    margin-top: 15px;
  }
  &__error {
    color: rgb(197, 43, 43);
  }
  &__btn {
    margin-top: 5px;
  }
  &__checkbox {
    margin: 5px 0;
  }
  &__label {
    padding-left: 10px;
  }
}
.form-profile {
  position: relative;
  &__field-error {
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  &__field-error {
    color: red;
  }
  &__submit-error {
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    top: -10px;
    left: 100px;
    color: red;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    flex: 0 0 400px;
    display: flex;
    justify-content: space-between;
  }
}
.friends-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.friends__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.friend__avatar {
  flex: 1 1 auto;
}
